.navigation {
	display: flex;
	justify-content: space-between;
	width: 50vw;
}

.navigation a {
	cursor: pointer;
}

.navigation a:hover {
	text-decoration: underline;
	color: #ff6600;
}

@media screen and (max-width: 750px) {
	.navigation {
		display: none;
	}
	.logout{
		display: none;
	}
}