.jobCard {
    display: grid;
  
    width: 90%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    /* box-shadow: 0 0 2px; */
    border-radius: 10px;
    font-family: 'Helvetica';
    padding: 14px;
    margin-bottom: 10px;
    margin-left: 10px;
    height: 250px;
    width: 800px;
    background-color: white;
  }

  

  .jobCard:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  .main{
    display: flex;
    justify-content: space-between;
    width: 780px;
   
  }
  .flexi{
    display: flex;
  }
  .jobTitle {
     
     font-size: 16px;
     color: #0056a2;
     align-self: start;
     font-weight: 500;
     margin-top: 8px;
     padding: 0 24px;
     margin-left: -10px;
     font-family: sans-serif;
   
   }
   .skillsContainer {
    font-size: small;
    align-self: center;
    padding-top: 10px;
    padding: 0 24px;
    color: #777;
    margin-left: -10px;
    margin-top: -55px;
  }
  .company{
    margin-left: -10px;
    font-size: 15px;
    padding: 5px 8px ;
    display: inline-flex;
   font-size: small;
  }
  .skills {
    margin-left: -10px;
    padding: 5px 8px;
    font-size: 15px;
    display: flex;
    font-size: small;
  }
  
  .skilll {
    margin-left: -10px;
    padding: 5px 8px;
    font-size: 15px;
    display: flex;
    font-size: small;
  }
  
  .skillr {
    margin-left: -5px;
    padding: 5px 8px;
    font-size: 15px;
    display: flex;
    font-size: small;
    
  }
  
  .skillp {
    margin-left: -10px;
    padding: 5px 8px;
    font-size: 15px;
    display: flex;
    font-size: small;
  }
  .main button:hover{
    
      background-color: rgb(74, 74, 141);
    
  }
  .apply{
   
   margin-top: 2px;
   width: 120px;
   height: 35px;
   border-radius: 5px;
   border: 0px;
   color: white;
   margin-right: 7px;
   background-color:#0056a2;
  }
  
  
  .visible{
    margin-top: 5px;
    margin-right: 20px;
  }
  .favr{
    margin-top: 5px;
    margin-right: 15px;
  }
  .company span{
    margin-left: 10px;
  }
  
  @media (max-width:736px){
    .jobCard{
      width: 340px;
      margin-left: 0px;

    }
    .main{
      width: 320px;

    }
    .apply{
      width:80px;
    }
    .skillsContainer{
      margin-top: 5px;
      word-wrap: break-word;
      
    }
  }
 
  