.mainDiv{
    display: grid;
  
    width: 90%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    /* box-shadow: 0 0 2px; */
    border-radius: 10px;
    font-family: 'Helvetica';
    padding: 14px;
    margin-bottom: 20px;
    margin-left: 10px;
    /* height: 250px; */
    width: 700px;
    background-color: white;
}
.first{
    display: flex;
    margin-bottom: 20px;
    

}

.first input{
    background: inherit;
    border: 1px solid #ccc;
    border-radius: 1rem;
    margin-left: 40px;
    padding: 1rem;
    line-height: 1.25rem;
    width: 200px;
    outline: none;
    
 
}

.radioSection{
    display: flex;
    
}
.radioBtn1{
    margin-left: 40px;
}

.radioBtn2{
    /* margin-right: 200px; */
    /* border: 1px solid black; */
    padding-left: 110px;
}
.filterBtn{
    /* border: 5px solid black; */
    margin-left: 10vh;
    width: 90px;
    height: 30px;
    background-color:blue;
    color: white;
    border: 0;
    border-radius: 5px;
    font-size:medium;
}
.btnn button{
    width: 90px;
    height: 30px;
    background-color: #59B957;
    color: white;
    border: 0;
    border-radius: 5px;
    font-size:medium;
    margin-left: 32vh;
}
.btnn button:hover{
    background-color: blue;
}

.jobTyeCard{
    display: grid;
    border: 1px solid black;
}