.mane{
    width: 100%;
    height: 400px;
    background-color: white;
    margin-top: 100px;
}
.jobs{
   /* margin-left: 34%; */
    margin-top: 30px;
    background-color: #DDDCFF;
    border-radius: 40px;
    border: 0px;
    width: 200px;
    height: 40px;
    cursor: pointer;
    justify-items: center;
    outline: none;

}
.jobs a{
    font-size: medium;
    color: #211DFF;
}
.empn{
    margin-left: 10px;
    margin-top: 30px;
    background-color: #FDE7D3;
    border-radius: 40px;
    outline: none;
    border: 0px;
    width: 200px;
    height: 40px;
    cursor: pointer;
}

.btngg{
    display: flex;
    justify-content: center;
    width: 100%;
}
.empn a{
    font-size: medium;
    color: #FD6C1A;
}
