.body{
  display: flex;
  justify-content: space-between;
  /* background-color: rgb(209, 203, 196); */
  background-color: whitesmoke;
 
}
/*Header-----------*/
.Header{
  width: 23vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
   height: max-content; 
  margin-top: 20px;
  margin-left: 100px;
  background-color: white;
  border-radius: 10px;
  position: sticky;
  top: 65px;
  color: rgb(105, 128, 128);
  /* justify-content: center; */
  padding-left: 40px;
  padding-right: 40px;
  display: grid;
  justify-content: center;
   
}
.star{
  color:red;
}
.left{
 display: grid;
 word-wrap: break-word;
 width: 18vw;
 
}
.imgs{
  text-align: center;
  margin-left: -20px;
}
.imgs img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: 10px;
  border: 1px solid black;
}
.name{
  display: flex;
  margin-top: 10px;
  font-size: 17px;
  
}
/* .dats{
  margin-left: 25px;
} */
.phone{
  margin-top: 10px;
  display: flex;
  width: 14vw;
  word-wrap: break-word;
}
.email{
  display: flex;
  margin-top: 5px;
  width: 20vw;
font-size:unset;
 
}
.exp{
  display: flex;
  margin-top: 5px;
  word-wrap: break-word;
}
.right{
   margin-left: 23px;
   margin-top: 30px;
   display: flex;
   font-size: large;
  cursor: pointer;
  
  color: #ff6600;
  height: 60px;
  padding-top: 20px;
}
.applied{
  /* display: flex; */
  
  
  /* position: relative; */
  /* border: 1px solid black; */
  font-size: small;
  
  padding:5px 10px;
  border-radius: 50%;
  background-color: #0056a2;
  color: white;
}
.marg{
  margin-top: -10px;
}

/* .applied .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 50%;
  background-color:#3880ff;
  color: white;
} */

/*Quick Link ................*/

.tabDiv{
  width: 47vw;
  display: flex;
  justify-content: space-between;
  font-size: large;
}


.tab {
  /* display: grid; */
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
   background-color: white;
   height: 70px;
   /* padding-left: 4vw; */
   /* padding-right: 4vw; */
   display: flex;
   justify-content: center;
   
   border-radius: 10px;
   margin-top: 20px;
   width: 60vw;
  
   margin-right: 30px;
   position: sticky;
   top: 65px;
  
   color: rgb(105, 128, 128);
 }
 .hover{
   color: #0056a2;
   cursor: pointer;
 }
 .p{
  
    margin-right: 10px;
    color: black;
    margin-top: 20px;
   
    width: 70px;
    height: 38px;
    border: none;
    outline: none;
    background: white;
    /* text-align: center; */
    cursor: pointer;
    /* transition: 0.3s; */
   
}
.tablinks{
  color: #ff6600;
  cursor: pointer;

  font-weight: bold;
  
  font-style: normal;
  
  
}
.tablinksp h1{
  font-size: 20px;
  color: #ff6600;
  cursor: pointer;
  margin-left: -45px;
}
.tablinksj h1{
  font-size: 20px;
  color: #ff6600;
  cursor: pointer;
  margin-left: -80px;

}
.tablinkse h1{
  font-size: 20px;
  color: #ff6600;
  cursor: pointer;
  margin-left: -75px;
  align-items: center;
}
















 /* form...........*/
 .tab2{
  background-color: white;
  margin-right: 100px;
  margin-top: 2vw;
  border-radius: 10px;
  /* border: 1px solid black; */
  color: rgb(105, 128, 128);
  width: 60vw;
}

.input{
 /* width: 100%;
 padding: 12px; */
 width: 100%;
 padding: 8px;
 height: 45px;
 outline: none;
 
 
}
.input:focus{
  /* border: 2px solid dodgerblue; */
  border:2px solid  #0056a2;
}
/* .jobCard .tab{
  align-content: flex-start;
} */

.formOne{
  display: grid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-right: 7vw;
  padding-left: 7vw;
  padding-top: 3vw;
  padding-bottom: 3vw;
  margin-bottom: 20px;

}

/* .buttonDiv{
  padding-left: 15vw;
  size: 10vw;
  align-items: center;
  border: 1px solid black;
  height: 100%;
} */

 .button{
  width: 120px;
  height: 35px;
  border-radius: 5px;
  border: 0px;
  color: white;
  background-color:#0056a2;
  margin-left: 87px;
  margin-bottom: 30px;
  cursor: pointer;
}



.error{
  color:red;
  margin-top: 4px;
  margin-left: 38px;
}

.tacbox {
  display:block;
  padding: 10px;
  margin: 2em;
  border: 3px solid #ddd;
  background: #eee;
  max-width: 800px;
  margin-top: 150px;
}
.ul{
  margin-right: 30px;
  margin-left: 0%;
}
.box{
  border: 2px solid black;
  margin-top: 20px;
}
.firstLastName{
  display: flex;
  width: 100%;
}
.firstLastName2{
  display: flex;
  width: 100%;
}
.fname{
  
  width: 100%;
}
.lname{
  margin-left: 10px;
  width: 100%;
}
.inputDivlast{
  
  width: 100%;
}
.inputDivname{
  width: 100%;
}
.inputDivgen{
   width: 100%;
   margin-left: 10px;
}
.inputDivdate{
  width: 100%;
  height: 60px;
  
}
.inputd{
  width: 100%;
  padding: 8px;
  outline: none;
  
}
.size{
  width: 46vw;
  
}
 
@media (max-width: 736px) {
  .body{
    justify-content: center;
    display: grid;
    width: 100%;
    
  }
  .imgs{
    margin-right:40px;
  }
  .Header{
    position: unset;
    width: 100%;
    margin: auto;
  }
  .dats{
    margin-left: -30px;
  }
  .name{
    
    width: 300px;
  }
  .dataDiv{
    width: 355px;
  }
  .tab{
    
    width: 100%;
    
  }
  .tab2{
    width: 100%;
    
  }
  .tabDiv{
   
    width: 320px;
  }
  .firstLastName{
    width: 300px;
  }
  .firstLastName2{
    width: 300px;
  }
  .inputDiv{
    width: 300px;
  }
  .size{
    width: 300px;
  }
  
}
/* resume start */
.r{
  grid-template-columns: repeat(2, minmax(0, 1fr));
  /* border-style: solid; */
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}
.e{
  flex: 1 1 0%;
  align-items: center;
  justify-items: center;
  width: 100%;
}
.s{
  text-align: center;
  flex-direction: column;
  display: flex;
  border-radius: 0.5rem;
  border-width: 1px;
  border-style: dashed;
  /* --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow); */
  /* border-style: solid; */
  width:100%;
  height: 15rem;
  padding: 2.5rem;
}
.u{
  height: 100%;
  width: 100%;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.k{
  display:flex;
  flex: 1 1 auto;
  max-height: 12rem;
  width: 40%;
  margin-left: auto;
margin-right: auto;
margin-top: -2.5rem;
align-items: center;
justify-content: center;
}
.t{
  height: 9rem;
  object-position: center;
  /* align-items: center; */
  
}
.m{
  display: block;
  position: relative;
  opacity: 0;
}
/* resume end */