.errorCard{
  height: 80vh;
	width: 50vw;
	background: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Merriweather Sans', sans-serif;
  /* margin-left: 10px; */
  /* border: 1px solid black; */
  margin-left: 25%;
}

.errorCard a{
  color: blue;
}