.body{
  display: flex;
  justify-content: space-between;
  /* background-color: rgb(209, 203, 196); */
  background-color: whitesmoke;
}
/*Header-----------*/
.Header{
  width: 23vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
   height: 26vw;  
  margin-top: 20px;
  margin-left: 100px;
  background-color: white;
  border-radius: 10px;
  position: sticky;
  top: 65px;
  color: rgb(105, 128, 128);
  /* justify-content: center; */
  padding-left: 40px;
  padding-right: 40px;

}

.left{
 display: grid;
}
.imgs{
  text-align: center;
}
.imgs img{
  width: 100px;
  height: 100px;
  margin-top: 10px;
  border: 1px solid black;
}
.name{
  display: flex;
  margin-top: 15px;
  font-size: 20px;
}
/* .dats{
  margin-left: 25px;
} */
.phone{
  margin-top: 10px;
  display: flex;
}
.email{
  display: flex;
  margin-top: 5px;
}
.exp{
  display: flex;
  margin-top: 5px;
}
.right{
   margin-left: 23px;
   margin-top: 30px;
   
}
.applied{
  display: flex;
  font-size: large;
  cursor: pointer;
  color: #ff6600;
}

/*Quick Link ................*/

.tabDiv{
  width: 47vw;
  display: flex;
  justify-content: space-between;
  font-size: large;
}
.tab {
  /* display: grid; */
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
   background-color: white;
   height: 70px;
   /* padding-left: 4vw; */
   /* padding-right: 4vw; */
   display: flex;
   justify-content: center;
   
   border-radius: 10px;
   margin-top: 20px;
   width: 60vw;
  
   margin-right: 30px;
   position: sticky;
   top: 65px;
  
   color: rgb(105, 128, 128);
 }
 .p{
  
    margin-right: 15px;
    color: black;
    margin-top: 20px;
   
    width: 70px;
    height: 38px;
    border: none;
    outline: none;
    background: white;
    /* text-align: center; */
    cursor: pointer;
    /* transition: 0.3s; */
   
}
.tablinks{
  color: #ff6600;
  cursor: pointer;

  font-weight: bold;
  
  font-style: normal;
  
  
}
.tablinksp h1{
  font-size: 20px;
  color: #ff6600;
  cursor: pointer;
  margin-left: -45px;
}
.tablinksj h1{
  font-size: 20px;
  color: #ff6600;
  cursor: pointer;
  margin-left: -80px;

}
.tablinkse h1{
  font-size: 20px;
  color: #ff6600;
  cursor: pointer;
  margin-left: -75px;
  align-items: center;
}
















 /* form...........*/
 .tab2{
  background-color: white;
  margin-right: 100px;
  margin-top: 2vw;
  border-radius: 10px;
  /* border: 1px solid black; */
  color: rgb(105, 128, 128);
  width: 60vw;
}

.input{
 /* width: 100%;
 padding: 12px; */
 width: 100%;
 padding: 8px;
 outline: none;
 
 
}
.input:focus{
  /* border: 2px solid dodgerblue; */
  border:2px solid  #3880ff;
}
/* .jobCard .tab{
  align-content: flex-start;
} */

.formOne{
  display: grid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-right: 7vw;
  padding-left: 7vw;
  padding-top: 3vw;
  padding-bottom: 3vw;
  margin-bottom: 20px;

}

/* .buttonDiv{
  padding-left: 15vw;
  size: 10vw;
  align-items: center;
  border: 1px solid black;
  height: 100%;
} */

 .button{
  width: 120px;
  height: 35px;
  border-radius: 5px;
  border: 0px;
  color: white;
  background-color:#3880ff;
  margin-left: 87px;
  margin-bottom: 30px;
  
}



.error{
  color:red;
}

.tacbox {
  display:block;
  padding: 10px;
  margin: 2em;
  border: 3px solid #ddd;
  background: #eee;
  max-width: 800px;
  margin-top: 150px;
}
.ul{
  margin-right: 30px;
  margin-left: 0%;
}
.box{
  border: 2px solid black;
  margin-top: 20px;
}
.firstLastName{
  display: flex;
  
}
.inputDivlast{
  margin-left: 10px;
  width: 100%;
}
.inputDivname{
  width: 100%;
}
.inputDivgen{
   width: 100%;
   margin-left: 10px;
}
.inputDivdate{
  width: 100%;
  
  
}
.inputd{
  width: 100%;
  padding: 8px;
  outline: none;
  height: 35px;
}
.size{
  width: 46vw;
  
}
 
@media (max-width: 736px) {
  .body{
    display: grid;
    width: 100%;
  }
  .Header{
    display: none;
  }
  .tab{
    
    width: 340px;
    margin-left: 10px;
  }
  .tab2{
    width: 340px;
    margin-left: 10px;
  }
  .tabDiv{
   
    width: 320px;
  }
  
}